<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>
            <button ng-disabled="mySwitch">xxx!</button>
        </p>

        <p>
            <input type="checkbox" ng-model="mySwitch">按钮
        </p>

        <p>{{mySwitch}}</p>

        <p ng-show="test">可见</p>
        <p ng-show="!test">不可见</p>
        <p ng-hide="!test">可见</p>
        <p ng-hide="test">不可见</p>
        <input ng-model="test" type="checkbox">
    </div>
<script src="js/angular.min.js"></script>
<script>
    var app=angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
        $scope.mySwitch=false;
        $scope.test=true;
    });
</script>
</body>
</html>